.box {
    width: 10%;
    padding-bottom: 6%;
    float: left;
    margin-right: 5%;
    overflow: hidden;
}

.box input {
    width: 90%;
}

.first {
    background-color: orange;
}

.second {
    background-color: purple;
}

.third {
    background-color: pink;
}

.colored {
    background-color: red;
}

.undercover {
    background-color: black;
}

