#redDiv {background-color: red;}
#blueDiv {background-color: blue;}
#greenDiv {background-color: green;}






.myDivs
{
	width: 200px;
	height: 200px;
	margin: 10px;
	float: left;
}


.inside_input {
	padding: 8px;
	margin: 40% 3%;
	
}